<div>
  <div class="container">
    <div class="form-group">
      <input placeholder="search for location" autocorrect="off" autocapitalize="off"
             spellcheck="off" type="text"
             class="form-control" #search [formControl]="searchControl">
    </div>
    <agm-map [latitude]='lat' [longitude]='long' [zoom]="zoom" >
      <div *ngFor="let amulancePosition of markerPositions; let i = index">
        <agm-marker [latitude]="amulancePosition.latitude" [longitude]="amulancePosition.longitude" (markerClick)="markerClick(amulancePosition, i)" [openInfoWindow]="false">
          <agm-info-window [isOpen]="amulancePosition.isOpen">
            <p>lat={{amulancePosition.latitude}}</p>
            <p>long={{amulancePosition.longitude}}</p>
            <p>license number={{amulancePosition.licensePlate}}</p>
            <p>driver name={{amulancePosition.driverName}}</p>

          </agm-info-window>
        </agm-marker>
      </div>
    </agm-map>

  </div>

</div>
