<div>
  <div class="container">
    <div class="form-group">
      <input placeholder="search for location" autocorrect="off" autocapitalize="off"
             spellcheck="off" type="text"
             class="form-control" #search [formControl]="searchControl">
    </div>
    <agm-map [latitude]='lat' [longitude]='long' [zoom]="zoom" >
      <div *ngFor="let ambulancePosition of markerPositions; let i = index">
        <agm-marker [latitude]="ambulancePosition.latitude" [longitude]="ambulancePosition.longitude" (markerClick)="markerClick(ambulancePosition, i)" [openInfoWindow]="false">
          <agm-info-window [isOpen]="ambulancePosition.isOpen">
            <p>lat={{ambulancePosition.latitude}}</p>
            <p>long={{ambulancePosition.longitude}}</p>
            <p>license number={{ambulancePosition.licensePlate}}</p>
            <p>driver name={{ambulancePosition.driverName}}</p>
            <p>status = {{ambulancePosition.status}}</p>
            <p *ngIf="ambulancePosition.ridenumber">NumberOfRides = {{ambulancePosition.ridenumber}}</p>


          </agm-info-window>
        </agm-marker>
      </div>
    </agm-map>

  </div>

</div>
