.sidebar{
  height:100vh;
}
.sidenavContainer{
  height:100vh;
  width:100%;
  top:55px;
}

*{
  margin:0px auto;
  padding:0;
}

.topwrap
{

  height: 55px;
  width: 100%;
  position:absolute;
  z-index: 999;
  left:0;
  top:0;

  background: #375a7f;
}
.tophead
{

  margin-left: 30px;
  color: #fff;
  font-size: 22px;
  font-family: Roboto,Helvetica Neue,sans-serif;
  padding-top: 12px;
}

.btnclass{

  float:left;
  margin-top: 10px;
}
.btnclass span
{
  margin-left:11px;
  color: white;
  cursor: pointer;
  font-size: 24px;
}

