<div class="side-bar">
    <ul class="menu">

        <li> <a [routerLink]="['Home']" routerLinkActive="activate">Home</a></li>
        <li> <a [routerLink]="['Heatmap']" routerLinkActive="activate">Heatmap</a></li>
        <li><a [routerLink]="['AccidentProneAreas']" routerLinkActive="activate">Accident Prone Areas</a> </li>
        <li> <a [routerLink]="['Ambulancelist']" routerLinkActive="activate">Ambulancelist</a></li>
        <li> <a [routerLink]="['AmbulanceHighProximityAreas']" routerLinkActive="activate">Ambulance High Proximity Areas</a></li>
        <li> <a [routerLink]="['UsualAmbulanceRoutes']" routerLinkActive="activate">Usual Ambulance Routes</a></li>
    </ul>
</div>
